.article-title {
    color: rgb(230, 3, 215);
    font-size: xx-large;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px;
    align-items: center;
}

.article-link {
    text-decoration: none;
}